html {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00b5fc 0%, #1900fc 50%, #00f4fc 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.memo {
   
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.commands {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: #b1b2b6;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.disabled {
    color: #ff9f9f;
}

.results {
    color: rgb(230, 21, 160);
    font-size: 14pt;
}

.playGround {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
}

.playGround-container {
    position: relative;
}


.playGround,
.win {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(180deg, #00b5fc 0%, #1900fc 50%, #00f4fc 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}


.playGround-container.flicked .playGround {
    transform: rotateY(180deg) rotateZ(50deg);
}

.playGround-container.flicked .win {
    transform: rotateY(0) rotateZ(0);
}

.symbol {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    
}

.symbol-front,
.symbol-back {
    
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #095f79;
    transition: transform .7s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.symbol-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #fae390;
}

.symbol.flicked .symbol-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.symbol.flicked .symbol-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.win-text {
    
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #c0384a;
}

.highlight {
    color: #2afc00;
}